/*
 * Empty Stylesheet file.
 */

#AnchorPane
{
    /*-fx-background-image: url("/image/andromede.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;*/
    /*-fx-background-color:#3A88C6;*/
}
